
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import fr.ensibs.river.River;
import fr.ensibs.river.RiverConfiguration;

com.sun.jini.reggie {
    initialLookupGroups = new String[] { RiverConfiguration.GROUP };
    initialMemberGroups = new String[] { RiverConfiguration.GROUP };
    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(River.HOST, 0), new BasicILFactory());
}

com.sun.jini.outrigger {
    initialLookupGroups = new String[] { RiverConfiguration.GROUP };
    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(River.HOST, 0), new BasicILFactory());
}

com.sun.jini.mahalo {
    initialLookupGroups = new String[] { RiverConfiguration.GROUP };
    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(River.HOST, 0), new BasicILFactory());
}
